<main class="mt-3 container">
    <div class="row justify-content-center">
        <div class="col-4 p-3 bg-secondary rounded">
            <h1 class="text-white">My products</h1>
            <p class="text-white">List all my product</p>
            <ul>
                <% products.forEach((product) => { %>
                    <li class="text-white"><%= product.title %></li>
                <% }) %>
            </ul>
        </div>
    </div>
</main>