<main class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="text-danger display-1 mt-5">404</h1>
            <h2>PAGE NOT FOUND</h2>
            <a href="/" class="btn btn-primary mt-3">Back to homepage</a>
        </div>
    </div>
</main>